{% extends 'module/base.html' %}
{% block script %}
{% endblock %}

{% block body %}
    <div align="center">
        <div class="outer">
            <div class="banner"></div>
            <div class="content">
                <table class="table table-bordered" style="width: 70%">
                    <thead>
                    <tr>
                        <td>No.</td>
{#                        <td>網路口碑1<br/>Word of Mouth</td>#}
                        <td>Word of Mouth</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in comment %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ c.content }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
